* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Muli', sans-serif;
}

#nav-bar {
  background-color: whitesmoke;
  height: 50px;
  width: 100%;
  position: fixed;
}

.nav-button-container {
  position: fixed;
  height: 50px;
}

.nav-link-container {
  line-height: 50px;
  float: right;
  font-size: 1.25em;
  margin: 0 20px;
}

.nav-link {
  text-decoration: none;
  color: black;
}

.nav-link:hover {
  text-decoration: none;
}

#owner-name {
  font-size: 1.5em;
}

.splash-img {
  top: 50px;
  width: 1885px;
  position: absolute;
  z-index: -1;
}

#splash-darkener {
  z-index: 0;
  height: 641.88px;
  background-color: rgba(0, 0, 0, 0.4);
}

.social-media-buttons {
  text-align: center;
  z-index: 1;
}

.social-btn {
  top: 550px;
  position: relative;
  width: 35%;
}
